@model EmailSender.Models.Registeration
@{
    ViewBag.Title = "RegisterationPage";
}

<h2>RegisterationPage</h2>

<p>@Html.ValidationSummary()</p>

@using (Html.BeginForm())
{
    <p>Name: @Html.TextBoxFor(model => model.Name)</p>
    <p>Email: @Html.TextBoxFor(model => model.Email)</p>
    <p>Mobile: @Html.TextBoxFor(model => model.Mobile)</p>
    <p>Message: @Html.TextAreaFor(model => model.Message)</p>

    <input type="submit" value="Submit"/>
}



